body {
  font-family: Helvetica;
  letter-spacing: 0.05ex;
  line-height: 140%;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

h1{
  font-size: 1.2rem;
}

em{
  font-family: Georgia, serif;
  font-style: italic;
  font-weight: bold;
}

#overlay{
  display: inline-block;
  max-width: 450px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
}

#toggle{
  margin: 20px;
}

#credits{
  font-size: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px;
}

#toggle label{
  display: inline-block;
  font-weight: bolder;
  font-size: 0.7rem;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 0.1ex;
}

#toggle input{
  display: inline-block;
  font-size: 20px;
  padding: 6px 8px;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 2px;
  background-color: beige;
}

input[type='number']{width: 60px}
input[type='button']{color: rgba(0,0,0,.2)}
